@media (min-width: 280px) and (max-width: 812px) {
    .container {
        .wrapper {
            grid-template-columns: none;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
                'header'
                'ratings'
                'testimonials';
            .header-container {
                grid-area: header;
                text-align: center;
                padding-right: 0;
                .heading {
                    font-size: 2rem;
                }
                #heading-description {
                    padding: 0 10px;
                }
            }
            .ratings-container {
                padding: 0;
                grid-area: ratings;
                display: flex;
                flex-direction: column;
                align-items: center;
                .rating {
                    width: 320px;
                    flex-direction: column;
                    text-align: center;
                    &:nth-child(2) {
                        left: 0;
                    }
                    &:nth-child(3) {
                        left: 0;
                    }
                    .rating-description {
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }
            .testimonials-container {
                grid-area: testimonials;
                flex-direction: column;
                align-items: center;
                .testimonial {
                    width: 320px;
                }
            }
        }
    }
}